<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>DUT_SN</string>
		<key>max</key>
		<string>N/A</string>
		<key>min</key>
		<string>N/A</string>
		<key>unit</key>
		<string>N/A</string>
		<key>uut1</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[SR]</string>
				<key>endStr</key>
				<string>Application</string>
			</dict>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[FSN]</string>
				<key>endStr</key>
				<string>-ok&gt;</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>&lt;fsn-</string>
				<key>to</key>
				<string>-ok&gt;</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Set_Shiptime</string>
		<key>max</key>
		<string>300000</string>
		<key>min</key>
		<string>300000</string>
		<key>unit</key>
		<string>ms</string>
		<key>uut1</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[SHIPTIME-300000]</string>
				<key>endStr</key>
				<string>-ok&gt;</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>shiptime-</string>
				<key>to</key>
				<string>-ok&gt;</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Check_LastStation_CB_Result</string>
		<key>max</key>
		<string>1</string>
		<key>min</key>
		<string>1</string>
		<key>unit</key>
		<string>N/A</string>
		<key>judgement_mode</key>
		<string>contain</string>
		<key>contain_str</key>
		<string>P</string>
		<key>uut1</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[cbread-lastCBStation]</string>
				<key>endStr</key>
				<string>&gt;</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>:</string>
				<key>to</key>
				<string>&gt;</string>
				<key>arrayIndex</key>
				<string>5</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Check_CB_FailCount</string>
		<key>max</key>
		<string>1</string>
		<key>min</key>
		<string>1</string>
		<key>unit</key>
		<string>N/A</string>
		<key>judgement_mode</key>
		<string>CBFailCount</string>
		<key>uut1</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[cbread-thisCBStation]</string>
				<key>endStr</key>
				<string>&gt;</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>:</string>
				<key>to</key>
				<string>&gt;</string>
				<key>arrayIndex</key>
				<string>4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Write_CB_Str_I</string>
		<key>max</key>
		<string>1</string>
		<key>min</key>
		<string>1</string>
		<key>unit</key>
		<string>N/A</string>
		<key>judgement_mode</key>
		<string>contain</string>
		<key>contain_str</key>
		<string>I</string>
		<key>uut1</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[cbwrite-thisCBStation-0000000000000000000000000000000000000000-Timestamp-OverlayVersion-I]</string>
				<key>endStr</key>
				<string>&gt;</string>
			</dict>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[cbread-thisCBStation]</string>
				<key>endStr</key>
				<string>&gt;</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>:</string>
				<key>to</key>
				<string>&gt;</string>
				<key>arrayIndex</key>
				<string>5</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>FW_Version</string>
		<key>max</key>
		<string>1.2.9</string>
		<key>min</key>
		<string>1.2.9</string>
		<key>unit</key>
		<string>N/A</string>
		<key>judgement_mode</key>
		<string>contain</string>
		<key>contain_str</key>
		<string>1.2.9</string>
		<key>uut1</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[SV]</string>
				<key>endStr</key>
				<string>&gt;</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>&lt;</string>
				<key>to</key>
				<string>&gt;</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>HW_Version</string>
		<key>max</key>
		<string>hv-2</string>
		<key>min</key>
		<string>hv-2</string>
		<key>unit</key>
		<string>N/A</string>
		<key>judgement_mode</key>
		<string>contain</string>
		<key>contain_str</key>
		<string>hv-2</string>
		<key>uut1</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[HV]</string>
				<key>endStr</key>
				<string>&gt;</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>&lt;</string>
				<key>to</key>
				<string>&gt;</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Check_DUT_OTP_Ready</string>
		<key>max</key>
		<string>39</string>
		<key>min</key>
		<string>39</string>
		<key>unit</key>
		<string>N/A</string>
		<key>judgement_mode</key>
		<string>contain</string>
		<key>contain_str</key>
		<string>39</string>
		<key>uut1</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[tm-36-1]</string>
				<key>endStr</key>
				<string>&gt;</string>
			</dict>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[tm-37-1]</string>
				<key>endStr</key>
				<string>&gt;</string>
			</dict>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[mread]</string>
				<key>endStr</key>
				<string>&gt;</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>&lt;mread-</string>
				<key>to</key>
				<string>-ok&gt;</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Battery_Percent</string>
		<key>max</key>
		<string>70</string>
		<key>min</key>
		<string>10</string>
		<key>unit</key>
		<string>%</string>
		<key>uut1</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[BATMAN]</string>
				<key>endStr</key>
				<string>&gt;</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>&lt;batman-</string>
				<key>to</key>
				<string>%-V:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Battery_Voltage</string>
		<key>max</key>
		<string>4100</string>
		<key>min</key>
		<string>3300</string>
		<key>unit</key>
		<string>mv</string>
		<key>uut1</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>readItemData</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[BATMAN]</string>
				<key>endStr</key>
				<string>&gt;</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>%-V:</string>
				<key>to</key>
				<string>-CS:</string>
				<key>readDataFrom</key>
				<string>Battery_Percent</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Battery_Temperature</string>
		<key>max</key>
		<string>40</string>
		<key>min</key>
		<string>10</string>
		<key>unit</key>
		<string>C</string>
		<key>calculate</key>
		<string>*</string>
		<key>calculate_value</key>
		<string>0.1</string>
		<key>uut1</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[GG]</string>
				<key>endStr</key>
				<string>&gt;</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>, t=</string>
				<key>to</key>
				<string>, c=</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>judgement_mode</key>
		<string>contain</string>
		<key>contain_str</key>
		<string>Success</string>
		<key>name</key>
		<string>WCB_Enter_DbgMode</string>
		<key>max</key>
		<string>Pass</string>
		<key>min</key>
		<string>Pass</string>
		<key>unit</key>
		<string>N/A</string>
		<key>uut1</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[pml-1]</string>
				<key>endStr</key>
				<string>&gt;</string>
			</dict>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[cmode-6-3-1]</string>
				<key>endStr</key>
				<string>&gt;</string>
			</dict>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>Power</string>
				<key>send</key>
				<string>PowerOpen</string>
				<key>delay</key>
				<string>5000</string>
			</dict>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>Arcas</string>
				<key>send</key>
				<string>enterDbg 1</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>cutModel</key>
				<string>NO</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Read_RailV_3500mV</string>
		<key>max</key>
		<string>3550</string>
		<key>min</key>
		<string>3450</string>
		<key>unit</key>
		<string>mV</string>
		<key>uut1</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>Arcas</string>
				<key>send</key>
				<string>setRailV 3500</string>
				<key>delay</key>
				<string>1000</string>
			</dict>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>Arcas</string>
				<key>send</key>
				<string>readRailV</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>resultStr</key>
				<string>only_to</string>
				<key>to</key>
				<string>mV</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>WCB_Enpwm</string>
		<key>judgement_mode</key>
		<string>contain</string>
		<key>contain_str</key>
		<string>Success</string>
		<key>max</key>
		<string>Pass</string>
		<key>min</key>
		<string>Pass</string>
		<key>unit</key>
		<string>N/A</string>
		<key>uut1</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>Arcas</string>
				<key>send</key>
				<string>enPWM 0</string>
				<key>delay</key>
				<string>2000</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>cutModel</key>
				<string>NO</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Read_RailV_3700mV</string>
		<key>max</key>
		<string>3750</string>
		<key>min</key>
		<string>3650</string>
		<key>unit</key>
		<string>mV</string>
		<key>uut1</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>Arcas</string>
				<key>send</key>
				<string>setRailV 3700</string>
				<key>delay</key>
				<string>1000</string>
			</dict>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>Arcas</string>
				<key>send</key>
				<string>readRailV</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>resultStr</key>
				<string>only_to</string>
				<key>to</key>
				<string>mV</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Read_RailV_3900mV</string>
		<key>max</key>
		<string>3950</string>
		<key>min</key>
		<string>3850</string>
		<key>unit</key>
		<string>mV</string>
		<key>uut1</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>Arcas</string>
				<key>send</key>
				<string>setRailV 3900</string>
				<key>delay</key>
				<string>1000</string>
			</dict>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>Arcas</string>
				<key>send</key>
				<string>readRailV</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>resultStr</key>
				<string>only_to</string>
				<key>to</key>
				<string>mV</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Vbatt_Open_Loop</string>
		<key>max</key>
		<string>4100</string>
		<key>min</key>
		<string>3300</string>
		<key>unit</key>
		<string>mV</string>
		<key>uut1</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[tm-36-1]</string>
				<key>endStr</key>
				<string>&gt;</string>
			</dict>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[tm-38-1]</string>
				<key>endStr</key>
				<string>&gt;</string>
			</dict>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[mfct]</string>
				<key>endStr</key>
				<string>&gt;</string>
			</dict>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[tm-41]</string>
				<key>endStr</key>
				<string>&gt;</string>
				<key>delay</key>
				<string>3000</string>
			</dict>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[GG]</string>
				<key>endStr</key>
				<string>&gt;</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>gg-v=</string>
				<key>to</key>
				<string>, i=</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Ibatt_Open_Loop</string>
		<key>max</key>
		<string>180</string>
		<key>min</key>
		<string>140</string>
		<key>unit</key>
		<string>mA</string>
		<key>uut1</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>readItemData</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[GG]</string>
				<key>endStr</key>
				<string>&gt;</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>, i=</string>
				<key>to</key>
				<string>, t=</string>
				<key>readDataFrom</key>
				<string>Vbatt_Open_Loop</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Vrect_Open_Loop</string>
		<key>unit</key>
		<string>mV</string>
		<key>max</key>
		<string>10500</string>
		<key>min</key>
		<string>8000</string>
		<key>uut1</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>endStr</key>
				<string>&gt;</string>
				<key>send</key>
				<string>[madc]</string>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>&lt;madc-</string>
				<key>to</key>
				<string>&gt;</string>
				<key>arrayIndex</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Irect_Open_Loop</string>
		<key>unit</key>
		<string>mV</string>
		<key>max</key>
		<string>130</string>
		<key>min</key>
		<string>90</string>
		<key>uut1</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>endStr</key>
				<string>&gt;</string>
				<key>send</key>
				<string>[madc]</string>
				<key>commandMode</key>
				<string>readItemData</string>
				<key>type</key>
				<string>DUT</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>&lt;madc-</string>
				<key>to</key>
				<string>&gt;</string>
				<key>arrayIndex</key>
				<string>1</string>
				<key>readDataFrom</key>
				<string>Vrect_Open_Loop</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Vbuck_Open_Loop</string>
		<key>unit</key>
		<string>mV</string>
		<key>max</key>
		<string>5100</string>
		<key>min</key>
		<string>4900</string>
		<key>uut1</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>endStr</key>
				<string>&gt;</string>
				<key>send</key>
				<string>[madc]</string>
				<key>commandMode</key>
				<string>readItemData</string>
				<key>type</key>
				<string>DUT</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>&lt;madc-</string>
				<key>to</key>
				<string>&gt;</string>
				<key>arrayIndex</key>
				<string>2</string>
				<key>readDataFrom</key>
				<string>Vrect_Open_Loop</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Vin_Arcas_Open_Loop</string>
		<key>max</key>
		<string>19500</string>
		<key>min</key>
		<string>18500</string>
		<key>unit</key>
		<string>mV</string>
		<key>calculate</key>
		<string>*</string>
		<key>calculate_value</key>
		<string>1000</string>
		<key>uut1</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>Power</string>
				<key>send</key>
				<string>MEASure:VOLTage?</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>cutModel</key>
				<string>NO</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Iin_Arcas_Open_Loop</string>
		<key>max</key>
		<string>130</string>
		<key>min</key>
		<string>90</string>
		<key>unit</key>
		<string>mA</string>
		<key>calculate</key>
		<string>*</string>
		<key>calculate_value</key>
		<string>1000</string>
		<key>uut1</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>Power</string>
				<key>send</key>
				<string>MEASure:Current?</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>cutModel</key>
				<string>NO</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Read_RailV</string>
		<key>max</key>
		<string>3950</string>
		<key>min</key>
		<string>3850</string>
		<key>unit</key>
		<string>mV</string>
		<key>uut1</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>Arcas</string>
				<key>send</key>
				<string>readRailV</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>resultStr</key>
				<string>only_to</string>
				<key>to</key>
				<string>mV</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Read_RailCurrent</string>
		<key>max</key>
		<string>600</string>
		<key>min</key>
		<string>300</string>
		<key>unit</key>
		<string>mA</string>
		<key>uut1</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>Arcas</string>
				<key>send</key>
				<string>readRailCur</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>resultStr</key>
				<string>only_to</string>
				<key>to</key>
				<string>mA</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Prect_Open_Loop</string>
		<key>unit</key>
		<string>mW</string>
		<key>max</key>
		<string>1100</string>
		<key>min</key>
		<string>920</string>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>noSend</string>
				<key>calculateMode</key>
				<string>Prect</string>
				<key>param1_num</key>
				<string>Vrect_Open_Loop</string>
				<key>param2_num</key>
				<string>Irect_Open_Loop</string>
			</dict>
		</array>
		<key>uut1</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>cutModel</key>
				<string>NO</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Efficiency_Open_Loop</string>
		<key>max</key>
		<string>55</string>
		<key>unit</key>
		<string>%</string>
		<key>min</key>
		<string>40</string>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>noSend</string>
				<key>calculateMode</key>
				<string>Efficiency</string>
				<key>param1_num</key>
				<string>Vrect_Open_Loop</string>
				<key>param2_num</key>
				<string>Irect_Open_Loop</string>
				<key>param3_num</key>
				<string>Vin_Arcas_Open_Loop</string>
				<key>param4_num</key>
				<string>Iin_Arcas_Open_Loop</string>
			</dict>
		</array>
		<key>uut1</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>cutModel</key>
				<string>NO</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>ChargerNTC_Open_Loop</string>
		<key>unit</key>
		<string>C</string>
		<key>max</key>
		<string>45</string>
		<key>min</key>
		<string>15</string>
		<key>calculate</key>
		<string>*</string>
		<key>calculate_value</key>
		<string>0.1</string>
		<key>uut1</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>endStr</key>
				<string>&gt;</string>
				<key>send</key>
				<string>[torch]</string>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>-C-</string>
				<key>arrayIndex</key>
				<string>0</string>
				<key>to</key>
				<string>&gt;</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>BatteryNTC_Open_Loop</string>
		<key>unit</key>
		<string>C</string>
		<key>max</key>
		<string>45</string>
		<key>min</key>
		<string>15</string>
		<key>calculate</key>
		<string>*</string>
		<key>calculate_value</key>
		<string>0.1</string>
		<key>uut1</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>endStr</key>
				<string>&gt;</string>
				<key>send</key>
				<string>[torch]</string>
				<key>commandMode</key>
				<string>readItemData</string>
				<key>type</key>
				<string>DUT</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>-C-</string>
				<key>arrayIndex</key>
				<string>1</string>
				<key>to</key>
				<string>&gt;</string>
				<key>readDataFrom</key>
				<string>ChargerNTC_Open_Loop</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>MCUDieTemp_Open_Loop</string>
		<key>unit</key>
		<string>C</string>
		<key>max</key>
		<string>45</string>
		<key>min</key>
		<string>15</string>
		<key>calculate</key>
		<string>*</string>
		<key>calculate_value</key>
		<string>0.1</string>
		<key>uut1</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>endStr</key>
				<string>&gt;</string>
				<key>send</key>
				<string>[torch]</string>
				<key>commandMode</key>
				<string>readItemData</string>
				<key>type</key>
				<string>DUT</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>-C-</string>
				<key>arrayIndex</key>
				<string>2</string>
				<key>to</key>
				<string>&gt;</string>
				<key>readDataFrom</key>
				<string>ChargerNTC_Open_Loop</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Disable_Charger</string>
		<key>unit</key>
		<string>N/A</string>
		<key>max</key>
		<string>Pass</string>
		<key>min</key>
		<string>Pass</string>
		<key>judgement_mode</key>
		<string>contain</string>
		<key>contain_str</key>
		<string>tm-43</string>
		<key>uut1</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>endStr</key>
				<string>&gt;</string>
				<key>send</key>
				<string>[tm-43]</string>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
			</dict>
			<dict>
				<key>endStr</key>
				<string>&gt;</string>
				<key>send</key>
				<string>[iwrw-39-0330-00000001]</string>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>&lt;</string>
				<key>returnIndex</key>
				<string>0</string>
				<key>to</key>
				<string>&gt;</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Ibatt</string>
		<key>unit</key>
		<string>mA</string>
		<key>max</key>
		<string>10</string>
		<key>min</key>
		<string>-10</string>
		<key>uut1</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>endStr</key>
				<string>&gt;</string>
				<key>send</key>
				<string>[GG]</string>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>, i=</string>
				<key>to</key>
				<string>, t=</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>PassTimes_100times</string>
		<key>unit</key>
		<string>mA</string>
		<key>max</key>
		<string>100</string>
		<key>min</key>
		<string>100</string>
		<key>uut1</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>endStr</key>
				<string>&gt;</string>
				<key>send</key>
				<string>[irrw-39-0368]</string>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>&lt;</string>
				<key>to</key>
				<string>&gt;</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Vrect</string>
		<key>unit</key>
		<string>mV</string>
		<key>max</key>
		<string>11000</string>
		<key>min</key>
		<string>9000</string>
		<key>uut1</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>endStr</key>
				<string>&gt;</string>
				<key>send</key>
				<string>[madc]</string>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>&lt;madc-</string>
				<key>to</key>
				<string>&gt;</string>
				<key>arrayIndex</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Irect</string>
		<key>unit</key>
		<string>mA</string>
		<key>max</key>
		<string>30</string>
		<key>min</key>
		<string>0</string>
		<key>uut1</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>endStr</key>
				<string>&gt;</string>
				<key>send</key>
				<string>[madc]</string>
				<key>commandMode</key>
				<string>readItemData</string>
				<key>type</key>
				<string>DUT</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>&lt;madc-</string>
				<key>to</key>
				<string>&gt;</string>
				<key>arrayIndex</key>
				<string>1</string>
				<key>readDataFrom</key>
				<string>Vrect</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Vbuck</string>
		<key>unit</key>
		<string>mV</string>
		<key>max</key>
		<string>5100</string>
		<key>min</key>
		<string>4900</string>
		<key>uut1</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>endStr</key>
				<string>&gt;</string>
				<key>send</key>
				<string>[madc]</string>
				<key>commandMode</key>
				<string>readItemData</string>
				<key>type</key>
				<string>DUT</string>
			</dict>
			<dict>
				<key>endStr</key>
				<string>&gt;</string>
				<key>send</key>
				<string>PowerOff</string>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>Power</string>
			</dict>
			<dict>
				<key>endStr</key>
				<string>&gt;</string>
				<key>send</key>
				<string>[sr]</string>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>&lt;madc-</string>
				<key>to</key>
				<string>&gt;</string>
				<key>arrayIndex</key>
				<string>2</string>
				<key>readDataFrom</key>
				<string>Vrect</string>
				<key>returnIndex</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Write_CB</string>
		<key>max</key>
		<string>1</string>
		<key>min</key>
		<string>1</string>
		<key>unit</key>
		<string>N/A</string>
		<key>judgement_mode</key>
		<string>cbResultWrite</string>
		<key>uut1</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>uut2</key>
		<dict>
			<key>vaule</key>
			<string></string>
			<key>result</key>
			<string></string>
		</dict>
		<key>testCommands</key>
		<array>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[cbwrite-thisCBStation-hashpasskey-Timestamp-OverlayVersion-Result]</string>
				<key>endStr</key>
				<string>&gt;</string>
			</dict>
			<dict>
				<key>commandMode</key>
				<string>sendReceive</string>
				<key>type</key>
				<string>DUT</string>
				<key>send</key>
				<string>[cbread-thisCBStation]</string>
				<key>endStr</key>
				<string>&gt;</string>
			</dict>
		</array>
		<key>cutResponse</key>
		<array>
			<dict>
				<key>from</key>
				<string>:</string>
				<key>to</key>
				<string>&gt;</string>
				<key>arrayIndex</key>
				<string>5</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>unit</key>
		<string>N/A</string>
		<key>judgement_mode</key>
		<string>finishWorkHandler</string>
		<key>min</key>
		<string>N/A</string>
		<key>max</key>
		<string>N/A</string>
		<key>name</key>
		<string>finishWorkHandler</string>
		<key>uut2</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
		<key>uut1</key>
		<dict>
			<key>result</key>
			<string></string>
			<key>vaule</key>
			<string></string>
		</dict>
	</dict>
</array>
</plist>
